* text=auto !eol
Api/Api.csproj -text
Api/ExtensionMethods.cs -text
Api/Properties/AssemblyInfo.cs -text
Api/RedmineManager.cs -text
Api/Types/Attachment.cs -text
Api/Types/ChangeSet.cs -text
Api/Types/CustomField.cs -text
Api/Types/Detail.cs -text
Api/Types/Identifiable.cs -text
Api/Types/IdentifiableName.cs -text
Api/Types/Issue.cs -text
Api/Types/IssueCategory.cs -text
Api/Types/IssueRelation.cs -text
Api/Types/IssueStatus.cs -text
Api/Types/Journal.cs -text
Api/Types/Membership.cs -text
Api/Types/MembershipRole.cs -text
Api/Types/News.cs -text
Api/Types/Project.cs -text
Api/Types/ProjectMembership.cs -text
Api/Types/ProjectTracker.cs -text
Api/Types/Query.cs -text
Api/Types/Role.cs -text
Api/Types/TimeEntry.cs -text
Api/Types/Tracker.cs -text
Api/Types/Upload.cs -text
Api/Types/User.cs -text
Api/Types/Version.cs -text
/Local.testsettings -text
Test/Properties/AssemblyInfo.cs -text
Test/RedmineManagerTest.cs -text
Test/Test[!!-~]References/Redmine.Net.Api.accessor -text
Test/Test.csproj -text
TestFiles/issues.xml -text
TestFiles/projects.xml -text
TestFiles/timeentries.xml -text
/TraceAndTestImpact.testsettings -text
/redmine-net-api.sln -text
/redmine-net-api.vsmdi -text
