* text=auto !eol
Api/AddChildrenToIssue.patch -text
Api/Api.csproj -text
Api/AttachmentDetailUser_Patches.patch -text
Api/ChangeLog.txt -text
Api/DataContractJson/ProjectSerializer.cs -text
Api/ExtensionAttribute.cs -text
Api/ExtensionMethods.cs -text
Api/GetTotalObjectList.patch -text
Api/IssueWithAttachment.patch -text
Api/JSonConverters/AttachmentConverter.cs -text
Api/JSonConverters/ChangeSetConverter.cs -text
Api/JSonConverters/CustomFieldConverter.cs -text
Api/JSonConverters/DetailConverter.cs -text
Api/JSonConverters/ErrorConverter.cs -text
Api/JSonConverters/GroupConverter.cs -text
Api/JSonConverters/IdentifiableNameConverter.cs -text
Api/JSonConverters/IssueCategoryConverter.cs -text
Api/JSonConverters/IssueChildConverter.cs -text
Api/JSonConverters/IssueConverter.cs -text
Api/JSonConverters/IssuePriorityConverter.cs -text
Api/JSonConverters/IssueRelationConverter.cs -text
Api/JSonConverters/IssueStatusConverter.cs -text
Api/JSonConverters/JournalConverter.cs -text
Api/JSonConverters/MembershipConverter.cs -text
Api/JSonConverters/MembershipRoleConverter.cs -text
Api/JSonConverters/NewsConverter.cs -text
Api/JSonConverters/PermissionConverter.cs -text
Api/JSonConverters/ProjectConverter.cs -text
Api/JSonConverters/ProjectMembershipConverter.cs -text
Api/JSonConverters/ProjectTrackerConverter.cs -text
Api/JSonConverters/QueryConverter.cs -text
Api/JSonConverters/RoleConverter.cs -text
Api/JSonConverters/TimeEntryActivityConverter.cs -text
Api/JSonConverters/TimeEntryConverter.cs -text
Api/JSonConverters/TrackerConverter.cs -text
Api/JSonConverters/UploadConverter.cs -text
Api/JSonConverters/UserConverter.cs -text
Api/JSonConverters/UserGroupConverter.cs -text
Api/JSonConverters/VersionConverter.cs -text
Api/JSonConverters/WatcherConverter.cs -text
Api/JSonConverters/WikiPageConverter.cs -text
Api/MimeFormat.cs -text
Api/ParseTimeEntryCorrectly.patch -text
Api/ProjectReadIssueCategories.patch -text
Api/Properties/AssemblyInfo.cs -text
Api/ReadElementAfterReadingRole.patch -text
Api/ReadEmptyElementList.patch -text
Api/RedmineException.cs -text
Api/RedmineManager.cs -text
Api/RedmineManager.cs.patch -text
Api/RedmineManagerAsync.cs -text
Api/RedmineSerialization.cs -text
Api/RedmineSerializationJSON.cs -text
Api/RedmineWebClient.cs -text
Api/ReturnCreatedObject_RedmineManager.cs.patch -text
Api/Types/Attachment.cs -text
Api/Types/ChangeSet.cs -text
Api/Types/CustomField.cs -text
Api/Types/CustomFieldValue.cs -text
Api/Types/Detail.cs -text
Api/Types/Error.cs -text
Api/Types/Group.cs -text
Api/Types/Identifiable.cs -text
Api/Types/IdentifiableName.cs -text
Api/Types/Issue.cs -text
Api/Types/IssueCategory.cs -text
Api/Types/IssueChild.cs -text
Api/Types/IssuePriority.cs -text
Api/Types/IssueRelation.cs -text
Api/Types/IssueStatus.cs -text
Api/Types/Journal.cs -text
Api/Types/Membership.cs -text
Api/Types/MembershipRole.cs -text
Api/Types/News.cs -text
Api/Types/Permission.cs -text
Api/Types/Project.cs -text
Api/Types/ProjectIssueCategory.cs -text
Api/Types/ProjectMembership.cs -text
Api/Types/ProjectTracker.cs -text
Api/Types/Query.cs -text
Api/Types/Role.cs -text
Api/Types/TimeEntry.cs -text
Api/Types/TimeEntryActivity.cs -text
Api/Types/Tracker.cs -text
Api/Types/Upload.cs -text
Api/Types/User.cs -text
Api/Types/UserGroup.cs -text
Api/Types/Version.cs -text
Api/Types/Watcher.cs -text
Api/Types/WikiPage.cs -text
Api/UploadDescription.patch -text
Api/Whitespace.patch -text
Api/create_issue_with_start_and_due_date.patch -text
Api/parse_version_name_fix_20120516.patch -text
Api/update_custom_fields_20120510.patch -text
Test/Properties/AssemblyInfo.cs -text
Test/RedmineManagerTest.cs -text
Test/Test[!!-~]References/Redmine.Net.Api.accessor -text
Test/Test.csproj -text
/redmine-net-api.sln -text
